# Playground for Association Rule Learning slides

Exec Ed version.

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import datetime
print(datetime.datetime.now())

2020-10-26 12:54:27.306977

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Exec Ed Slides

In [3]:
df = pd.read_csv('../data/groceries_exec.csv')

df = df.drop(['Date', 'Transaction ID'], axis=1)

df.Items = df.Items.astype(str)
df.Items = df.Items.apply(lambda x: x.split(', '))

te = TransactionEncoder()
te_ary = te.fit(df.Items).transform(df.Items)
df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1

frequent_itemsets = apriori(df1, min_support=0.06, use_colnames=True)
rules = association_rules(frequent_itemsets, min_threshold=0.1)

rules.sort_values(by="confidence", ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(peanut butter),(bacon),0.25,0.35,0.20,0.800000,2.285714,0.1125,3.250000
8,(cake mix),(beans),0.20,0.30,0.15,0.750000,2.500000,0.0900,2.800000
23,(chicken),(cheese),0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
22,(cheese),(chicken),0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
25,(chicken),(milk),0.15,0.50,0.10,0.666667,1.333333,0.0250,1.500000
29,"(milk, bacon)",(bread),0.15,0.40,0.10,0.666667,1.666667,0.0400,1.800000
34,"(bread, peanut butter)",(bacon),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
41,"(milk, eggs)",(bread),0.15,0.40,0.10,0.666667,1.666667,0.0400,1.800000
42,"(bread, eggs)",(milk),0.15,0.50,0.10,0.666667,1.333333,0.0250,1.500000
27,(eggs),(milk),0.25,0.50,0.15,0.600000,1.200000,0.0250,1.250000
15,(eggs),(bread),0.25,0.40,0.15,0.600000,1.500000,0.0500,1.500000
19,(peanut butter),(bread),0.25,0.40,0.15,0.600000,1.500000,0.0500,1.500000
5,(bacon),(peanut butter),0.35,0.25,0.20,0.571429,2.285714,0.1125,1.750000
1,(bacon),(bread),0.35,0.40,0.20,0.571429,1.428571,0.0600,1.400000
36,"(peanut butter, bacon)",(bread),0.20,0.40,0.10,0.500000,1.250000,0.0200,1.200000
40,"(milk, bread)",(eggs),0.20,0.25,0.10,0.500000,2.000000,0.0500,1.500000
35,"(bread, bacon)",(peanut butter),0.20,0.25,0.10,0.500000,2.000000,0.0500,1.500000
21,(cake mix),(milk),0.20,0.50,0.10,0.500000,1.000000,0.0000,1.000000
30,"(bread, bacon)",(milk),0.20,0.50,0.10,0.500000,1.000000,0.0000,1.000000
28,"(milk, bread)",(bacon),0.20,0.35,0.10,0.500000,1.428571,0.0300,1.300000
0,(bread),(bacon),0.40,0.35,0.20,0.500000,1.428571,0.0600,1.300000
17,(bread),(milk),0.40,0.50,0.20,0.500000,1.000000,0.0000,1.000000
13,(beans),(milk),0.30,0.50,0.15,0.500000,1.000000,0.0000,1.000000
9,(beans),(cake mix),0.30,0.20,0.15,0.500000,2.500000,0.0900,1.600000
3,(bacon),(milk),0.35,0.50,0.15,0.428571,0.857143,-0.0250,0.875000
45,(eggs),"(milk, bread)",0.25,0.20,0.10,0.400000,2.000000,0.0500,1.333333
38,(peanut butter),"(bread, bacon)",0.25,0.20,0.10,0.400000,2.000000,0.0500,1.333333
16,(milk),(bread),0.50,0.40,0.20,0.400000,1.000000,0.0000,1.000000
11,(eggs),(beans),0.25,0.30,0.10,0.400000,1.333333,0.0250,1.166667
14,(bread),(eggs),0.40,0.25,0.15,0.375000,1.500000,0.0500,1.200000
18,(bread),(peanut butter),0.40,0.25,0.15,0.375000,1.500000,0.0500,1.200000
10,(beans),(eggs),0.30,0.25,0.10,0.333333,1.333333,0.0250,1.125000
7,(beans),(bread),0.30,0.40,0.10,0.333333,0.833333,-0.0200,0.900000
2,(milk),(bacon),0.50,0.35,0.15,0.300000,0.857143,-0.0250,0.928571
26,(milk),(eggs),0.50,0.25,0.15,0.300000,1.200000,0.0250,1.071429
12,(milk),(beans),0.50,0.30,0.15,0.300000,1.000000,0.0000,1.000000
39,(bacon),"(bread, peanut butter)",0.35,0.15,0.10,0.285714,1.904762,0.0475,1.190000
33,(bacon),"(milk, bread)",0.35,0.20,0.10,0.285714,1.428571,0.0300,1.120000
37,(bread),"(peanut butter, bacon)",0.40,0.20,0.10,0.250000,1.250000,0.0200,1.066667
32,(bread),"(milk, bacon)",0.40,0.15,0.10,0.250000,1.666667,0.0400,1.133333
6,(bread),(beans),0.40,0.30,0.10,0.250000,0.833333,-0.0200,0.933333
44,(bread),"(milk, eggs)",0.40,0.15,0.10,0.250000,1.666667,0.0400,1.133333
31,(milk),"(bread, bacon)",0.50,0.20,0.10,0.200000,1.000000,0.0000,1.000000
24,(milk),(chicken),0.50,0.15,0.10,0.200000,1.333333,0.0250,1.062500
43,(milk),"(bread, eggs)",0.50,0.15,0.10,0.200000,1.333333,0.0250,1.062500
20,(milk),(cake mix),0.50,0.20,0.10,0.200000,1.000000,0.0000,1.000000

In [4]:
df1.loc[df1['cake mix'] == True]

,apple,bacon,banana,beans,bread,cake mix,carrot,cheese,chicken,eggs,ice cream,milk,peanut butter
9,False,False,False,True,False,True,False,False,False,False,False,True,False
13,False,False,False,True,True,True,False,False,False,False,False,False,True
15,False,False,False,True,False,True,False,False,False,False,True,False,False
17,False,False,False,False,False,True,False,False,False,False,False,True,False

In [5]:
df1.loc[df1['peanut butter'] == True]

,apple,bacon,banana,beans,bread,cake mix,carrot,cheese,chicken,eggs,ice cream,milk,peanut butter
1,False,True,False,False,False,False,False,False,False,False,False,False,True
3,False,True,False,False,True,False,False,False,False,False,False,False,True
13,False,False,False,True,True,True,False,False,False,False,False,False,True
16,False,True,False,False,False,False,False,False,False,False,False,False,True
18,False,True,False,False,True,False,False,False,False,False,False,True,True

In [6]:
df1.loc[df1['chicken'] == True]

,apple,bacon,banana,beans,bread,cake mix,carrot,cheese,chicken,eggs,ice cream,milk,peanut butter
2,False,False,False,False,False,False,True,True,True,False,False,True,False
4,False,True,False,False,False,False,False,False,True,False,False,True,False
10,False,False,False,True,False,False,False,True,True,True,False,False,False

In [7]:
df1.loc[df1['peanut butter'] == True]

,apple,bacon,banana,beans,bread,cake mix,carrot,cheese,chicken,eggs,ice cream,milk,peanut butter
1,False,True,False,False,False,False,False,False,False,False,False,False,True
3,False,True,False,False,True,False,False,False,False,False,False,False,True
13,False,False,False,True,True,True,False,False,False,False,False,False,True
16,False,True,False,False,False,False,False,False,False,False,False,False,True
18,False,True,False,False,True,False,False,False,False,False,False,True,True